<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="{{appContainerId}}" />
    <script type="text/javascript" src="{{jsSource}}"></script>
  </body>
</html>
